
body {
    height: 100vh;
    background: 
        black 
        url(../ex023/style/imagens-cap19/wallpaper002.jpg) 
        center center 
        no-repeat 
        fixed;
    background-size: cover;

}

main {
    max-width: 400px;
    background-color: white;
    border: 2px black solid;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 50px auto 200px auto;
    }