@charset "UTF-8";

* {
    padding: 0%;
    margin: 0%;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    padding: 50px 0px;
    font-size: 3em;
    color: white;
    font-family: monospace;
}

@media screen and (orientation: portrait) {
    body {
        background-image: url(cev-portrait.jpg);
        background-position: center bottom;
    }
}

@media screen and (orientation: landscape) {

    body {
        background-image: url(cev-landscape.jpg);
        background-position: left bottom;
    }
    
}