* {
        
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body {

    background-image: linear-gradient(to bottom, #012340, #025959 );
    height: 100dvh;
}

main {
    background-color: #025959;
    width: 70dvh;
    border-radius: 20px;
    box-shadow: 0px 5px 5px #014848 ;
    padding: 20px;
    margin: auto;
}

h1 {
    color: #04D939;
    text-shadow: 1px 1px 10px#035c19af;
    text-align: center;
}

h2 {
    color: #03A63C;
}

p {
    text-align: justify;
    color: #04D939;
}

#titulo1 {
    color: #fff;
    text-align: center;
}

#titulo2 {
    text-align: left;
}

.teste2 {
    text-align: right;
}

#observacao {
    color: black;
}